.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;   
}

.loader {
  width: 55px;
  height: 55px;
  border: 6px solid #c7d2fe;
  border-top: 6px solid #4f46e5;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
